@font-face {
  font-family: "IsaacFont";
  src: url("../assets/fonts/upheavtt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "IsaacFont", sans-serif;
}

#game-container {
  position: relative;
  width: 1150px;
  height: 880px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 23px 23px;
  background-image: url("../assets/images/background.png");
  background-position: center;
  background-size: 1150px 880px;

  font-size: 30px;
}
#hud {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

#hud-items {
  display: flex;
  list-style: none;
  gap: 100px;
}

.item {
  background-color: black;
  padding: 5px;
  border-radius: 10px;
}
